/////////////////////// Code mobilfirst //////////////////

@media (max-width: 768px) {
    .buttonlog {
        display: none;
    }
}
 ///////////////////////////////////////////////////////////

 ////////////////////// Code desktop ///////////////////////////
@media (min-width: 768px) {
            .buttonlog {
                display: inline-block;
                padding: 5px 5px;
                background-color: $button;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                text-align: center;
                font-family: $font-link;
                font-size: $font-size-small;
                cursor: pointer;
                transition: background-color 0.3s;
            }
            
            .buttonlog:hover {
                background-color: $button-active;
            }
}
////////////////////////////////////////////////////////////