.profil-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  .profil-details {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    background-color: $secondary-color;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  a{
      text-decoration: none;
      color: $secondary-color;
      font-weight: normal;
  }
}

.profil-photo {
  display: block;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  .profil-avis {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: $secondary-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  h2 {
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      background-color: white;
      border-left: 4px solid #28a745;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 8px;

      strong {
        color: #222;
      }

      small {
        color: #777;
        font-style: italic;
      }
    }
  }
}
