/////////////////////////// Code mobilfirst //////////////////////////////////

@media (max-width: $max-width-mobile) {
    .footer {
        display: none;
    }
}
////////////////////////////////////////////////////////////////// 

//////////////////// Code desktop ////////////////////////////////

@media (min-width: $min-width-desktop) {
    .footer {
        height: 50px;
        width: 100%;
        background-color: $primary-color;
        color: white;
        text-align: center;
        padding: 10px;
    }
}

////////////////////////////////////////////////////////////////
