////////// Mobilfirst/////////////////
@media (max-width: 768px) {
  .profile-container {
    h1{
      text-align: center;
    }
    .register-button {
      margin-top: 20px;

      a {
        text-decoration: none;
      }
  
      p {
        text-align: center;
      }
    }
  }
}


////////////////////////// Code Desktop /////////////////////////
@media (min-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    align-items: center;
    h1{
      text-align: center;
    }
    form{
      width: 50%;
    }
    
    .register-button {
    
    a {
      width: 150px;
      height: 20px;
      padding: 5px 10px;  
      background-color: $button;
      border-radius: 8px;
      text-decoration: none;
      font-size: large;

        &:hover {
            background-color: $button-active;
        }
    }  
      p {
        font-size: large;
        text-align: center;
      }
    }
  }
}