//// code mobilefirst////////////////
@media (max-width: $max-width-mobile) {
  .voyage-page-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px; // espace général entre les blocs

    .title {
      display: none;
    }
  
    // Bloc de gauche – le formulaire
    .formulaire {
      flex: 1 ; // occupe environ 40% de la largeur
      padding: 20px;
      margin-bottom: 20px;
    }
  
    // bloc description et photo
    .description-photo {
      display: flex;
      flex-direction: column;
      gap: 20px; // espace entre la description et la photo
      padding: 20px;
      margin: 0 20px 0 20px;
      background-color: $primary-color;
  
      // Bloc description en haut
      .description-page-voyage {
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background-color: $secondary-color;
      }
  
      // Bloc photo en dessous
      .photo-page-voyage {
        // Style pour le bloc contenant la photo
        padding: 15px;
        background-color: #ddd;
        border-radius: 5px;
        text-align: center;
  
        img.photo-voyage {
          display: block;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }
}
////////////// code desktop ////////////
@media (min-width: $min-width-desktop) {
  .voyage-page-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px; // espace général entre les blocs

    // Bloc de gauche – le formulaire
    .formulaire {
      /* flex: 1 1 40%; */ // occupe environ 40% de la largeur
      padding: 20px;
    }
  
    // Bloc de droite – description et photo
    .description-photo {
      display: flex;
      flex-direction: column;
      gap: 20px; // espace entre la description et la photo
      padding: 20px;
      margin-right: 20px;
      background-color: $primary-color;
  
      // Bloc description en haut
      .description-page-voyage {
        // Vous pouvez ajuster le style de la description
        padding: 15px;
        border-radius: 5px;
        background-color: $secondary-color;
      }
  
      // Bloc photo en dessous
      .photo-page-voyage {
        // Style pour le bloc contenant la photo
        padding: 15px;
        background-color: #ddd;
        border-radius: 5px;
        text-align: center;
  
        img.photo-voyage {
          display: block;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }
}
