

// Styles principaux (styles.scss)
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    max-width: $max-width-tablet;
  }

  .menu {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: $max-width-desktop;
  }
}
