// Styles principaux (styles.scss)
@import 'variables';


/////////////////////////////  code mobilfirst ////////////////////
@media (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; // Assure que l'écran est entièrement utilisé
  }
  
  body {
    min-height: 100vh;
    background-color: $background-color;
  }
  

}
//////////////////////////////////////////////////////////////////////

///////////////////////// code desktop /////////////////////////////
@media (min-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; // Assure que l'écran est entièrement utilisé
  }
  
  body {
    display: flex;
    flex-direction: column; // Organise les éléments verticalement
    min-height: 100vh;
    background-color: $background-color;
  }
  
  main {
    flex: 1; // Remplit l'espace entre le header et le footer
  }
  
  footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
  }
}

/////////////////////////////////////////////////////////////////////


/* Media Queries */
// @media (max-width: 768px) {
//   .navbar {
//       display: none;
//   }
// }

// @media (min-width: 1200px) {
//   .container {
//     max-width: $max-width-desktop;
//   }
// }
