@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}
///////////////////////////// Code Desktop ////////////////////////
@media (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        margin-top: 10px;
        height: 100px;
        
        img {
            width: 20%;
            height: 100%;
        }
    
        .navbar {
            width: 100%;
        }
        
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
    
            a {
                text-decoration: none;
                color: $dark;
            }
        }
    
        .login {
            margin-right: 20px;
        }
        
    }
}
////////////////////////////////////////////////////////////