///////////////////////////// Code Mobilfirst //////////////////////
@media (max-width: 768px) {
    .title-search .title { // code a garder
        display: none;
    }
}
//////////////////////////////////////////////////////////////

////////////////////////// Code Desktop /////////////////////////
@media (min-width: 768px) {
    .title {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h1 {
            margin: 0;
        }
    
        p {
            margin: 0;
        }
    }
}
//////////////////////////////////////////////////////////////////
