/////////////////////  CODE Mobilefirst //////////////////////////
@media (max-width: 768px) {
    .navbar {
        position: absolute;
        inset: auto 0 0 0;
        display: flex; // Affiche la navbar mobile
        justify-content: space-around;
        height: 80px;
        width: 100%;
        background-color: $primary-color;
        
            ul {
            padding-left: 0;
            display: flex;
            align-items: center;
            list-style: none;
            gap: 10px;
        
            li a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }
            
            }
    }

        
    .logo {
        display: block; // Le logo reste en haut
        margin: 10px 10px 10px 10px ;
        width: 150px;
        height: 100px;
    }
}


///////////////////////////////////////////////////////////////////

///////////////////////////// Code Desktop ////////////////////////
@media (min-width: 768px) {

    .header {
        display: flex;
        align-items: center;
        margin-top: 10px;
        height: 100px;
        
        img {
            width: 20%;
            height: 100%;
        }
    
        .navbar {
            width: 100%;
        }
        
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
    
            a {
                text-decoration: none;
                color: $dark;
            }
        }
    
        .login {
            margin-right: 20px;
        }
        
    }
}
////////////////////////////////////////////////////////////
/// 
// /// 