// _variables.scss - Variables pour couleurs et dimensions

//Couleurs
$primary-color: #34a853;
$secondary-color: #4da6ff;
$background-color: #BCE593;
$white: white;
$dark: #000000;
$border-color: #ccc;
$link: #81ED4F;
$iconnav: #9747FF;


//dimensions
$gap-size: 10px;
$max-width-mobile: 600px;
$max-width-tablet: 900px;
$max-width-desktop: 1200px;
$header-height: 50px;
$footer-height: 30px;
$menu-height: 50px;