// _variables.scss - Variables pour couleurs et dimensions

//Couleurs
$primary-color: #4caf50;
$secondary-color: #333;
$background-color: #f4f4f4;
$white: white;
$border-color: #ccc;

//dimensions
$gap-size: 10px;
$max-width-mobile: 600px;
$max-width-tablet: 900px;
$max-width-desktop: 1200px;
$header-height: 50px;
$footer-height: 30px;
$menu-height: 50px;